bin/
obj/
Library/

.idea/
*.DotSettings.user

VehiclePreSelection/bin/
VehiclePreSelection/obj/
VehiclePreSelection/Library/

VehiclePreSelection/UI/node_modules/
VehiclePreSelection/UI/dist/

*.user
*.suo
*.cache
*.log
